[submodule "client-gateway"]
	path = client-gateway
	url = https://github.com/Nest-Microservices-Manuel123/client-gateway.git
[submodule "products-ms"]
	path = products-ms
	url = https://github.com/Nest-Microservices-Manuel123/products-ms.git
